.inputs-area {
  width: 100%;
}

.aluno-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
  color: #6700b3;
  font-size: 20px;
}

.aluno-input input {
  border-radius: 5px;
  border: none;
  padding: 1px 4px;
  outline: 2px solid #6700b3;
  caret-color: #6700b3;
}
