.recados-content {
  background-color: #dedede;
  padding: 2%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px
}

.recados-insert-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recados-insert-content-top {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.recados-insert-content-middle {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.recados-insert-content-bottom {
  display: flex;
  flex-direction: row;
  gap: 10px;
}


.recados-search-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.recados-search-content-top {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.recados-search-content-bottom {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
