.container-row {
  display: flex;
  flex-direction: row;
  margin: 1%;
}

.container-principal {
  min-width: 75vw;
  min-height: 70vh;
  background-color: rgb(255, 255, 255);
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
