.main-page {
  display: flex;
  min-height: 100vh;
}

.main-content {
  background-image: url(../../assets/background.png);
  background-size: cover;
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-container {
  width: 20%;
  display: flex;
  justify-content: center;
}

.content-container {
  width: 90%;
  height: 80%;
  background-color: #fff;
  border-radius: 20px;
}
