.container-alunos {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height: 80%;
  width: 100%;
}

.container-secundario {
  display: flex;
  align-self: center;
  width: 95%;
  height: 100%;
  background-color: #ecd2ff;
  border-radius: 20px;
  margin-bottom: 10px;
  padding: 5px 20px 20px 20px;
}
.container-secundario h1 {
  color: #6700b3;
  font-size: 25px;
  margin-top: 15px;
}

.inputs-identificacao {
  display: flex;
  gap: 25px;
  margin-top: 15px;
}

.input-cadastro {
  display: flex;
  flex-direction: column;
  color: #6700b3;
  font-size: 20px;
}
.tipo-um {
  width: 250px;
}
.tipo-dois {
  width: 155px;
}
.input-cadastro input {
  border-radius: 5px;
  border: 2px solid #6700b3;
}

.alunos-button {
  display: flex;
  align-self: flex-end;
  margin-right: 3%;
  color: #6700b3;
  gap: 20px;
}

.alunos-btn {
  background-color: rgba(0, 0, 0, 0);
  padding: 5px 50px;
  border: 2px solid #6700b3;
  border-radius: 20px;
}
