* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  width: 100vw;
  height: 15vh;
  border-radius: 0px 0px 40px 40px;
  box-shadow: 2px 2px 4px grey, -2px -2px white;
}

.nav-logo {
  width: 15%;
}

.fast-search {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.input-nav {
  width: 20vw;
  height: 5vh;
  border: 2px solid #6700b2;
  border-radius: 20px;
  padding-left: 10px;
  margin-right: 50px;
}
