.sidebar {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: space-between;
}

.logged-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.user-logo-icon {
  width: 64px;
  height: 64px;
}

.sidebar-navigation {
  border-bottom: 1px solid black;
}

.sidebar-buttons {
  margin-bottom: 40px;
  padding: 0px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
