.cadastro-hider {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.cadastro-inputs {
  display: flex;
  gap: 10px;
}

.input-line {
  display: flex;
  flex-direction: row;
  justify-content: start;
  gap: 10px;
}

.cadastro-documentos-input{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.cadastro-documentos-input-left{
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 70%;
}

.cadastro-documentos-input-right{
  display: flex;
  flex-direction: column;
  margin-top: 20%;
}