.cadastro-container {
  background-color: #dedede;
  padding: 2%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

.newsletter-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.newsletter-content-top {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.newsletter-content-middle {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.newsletter-content-bottom {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
