.buscar-alunos-content {
  background-color: #dedede;
  height: 93%;
  border-radius: 10px;
  padding: 20px;
}

.buscar-alunos-content-top{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 16px;
}

.buscar-alunos-content-midle{
  height: 100%;
}