.busca-turma-content {
  background-color: #dedede;
  height: 93%;
  border-radius: 10px;
  padding: 20px;
  overflow: hidden;
}

.busca-turma-content-top{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 16px;
}

.busca-turma-content-midle{
  height: 100%;
}


   


