.busca-turmas {
  background-color: #dedede;
  height: 100%;
  border-radius: 10px;
  padding: 20px;
}
.busca-turmas-header {
  display: flex;
  gap: 20px;
}

.display-turmas {
  display: flex;
  flex-direction: column;
  background-color: #d7a1ff;
  margin-top: 15px;
  border-radius: 10px;
  padding-bottom: 30px;
  color: white;
}

.display-turmas .aluno,
.responsavel-turma,
.necessidades,
.editar {
  display: flex;
  align-items: center;
  padding-left: 2%;
  height: 100%;
}

.busca-turmas-linha {
  display: flex;
  min-width: 100%;
  height: 30px;
  border-bottom: 2px solid white;
  padding-right: 3%;
}

.display-turmas .aluno {
  width: 30%;
}

.display-turmas .responsavel-turma {
  width: 30%;
}

.display-turmas .necessidades {
  width: 30%;
}

.display-turmas .aluno,
.acoes,
.responsavel-turma,
.necessidades {
  border-right: 2px solid white;
}

.editar {
  width: 10%;
  justify-content: center;
}
