@font-face {
  font-family: "Nunito";
  src: local("Nunito"),
    url(./Assets/Fonts/Nunito-Regular.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", serif;
  border-style: none;
}

body {
  background-image: url(./Assets/Images/fundo.jpg);
  background-size: cover;
}
