.tipo-recado-content {
    background-color: #dedede;
    height: 93%;
    border-radius: 10px;
    padding: 20px;
  }
  
  .tipo-recado-content-top{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 16px;
  }
  
  .tipo-recado-content-midle{
    height: 100%;
  }