.buscar {
  color: #ffffff;
}

.container-secundario {
  background-color: #ecd2ff;
  min-width: 71vw;
  min-height: 50vh;
  margin-left: 30px;
  align-self: center;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.input-buscar {
  width: 60px;
  height: 30px;
  background-color: white;
  border: 1px solid color(#6700b2);
}

.container-secundario {
  display: flex;
}

.container-terciario {
  background-color: #d7a1ff;
  min-width: 68vw;
  min-height: 40vh;
  display: flex;
  align-content: center;
  justify-content: space-around;
  margin: auto;
  border-radius: 40px;
  margin-top: 15px;
}

.pesquisa {
  width: 100%;
}

.label-buscar {
  color: #6700b2;
  font-weight: bold;
  display: flex;
}

.input-buscar {
  width: 400px;
  border: 2px solid color(#6700b2);
  padding-left: 15px;
}

.nav-buscar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-inline: 30px;
  margin-top: 10px;
  width: 100%;
  height: 100px;
}
