.buscar {
  color: #ffffff;
}

.container-secundario-search {
  background-color: #ecd2ff;
  width: 72vw;
  height: 60vh;
  align-self: center;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 2%;
}

.input-buscar {
  width: 60px;
  height: 30px;
  background-color: white;
  border: 1px solid color(#6700b2);
}

.container-terciario {
  background-color: #d7a1ff;
  width: 95%;
  height: 83%;
  display: flex;
  align-content: center;
  justify-content: space-around;
  margin: auto;
  border-radius: 40px;
  margin-top: 15px;
}

.pesquisa {
  width: 100%;
}

.label-buscar {
  color: #6700b2;
  font-weight: bold;
  display: flex;
}

.input-buscar {
  width: 500px;
  border: 2px solid color(#6700b2);
  border-radius: 20px;
  padding-left: 15px;
}

.nav-buscar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-inline: 30px;
  margin-top: 10px;
  width: 100%;
  height: 100px;
}

.inputs-searchs{
  display: flex;
  gap: 10px;
  margin-top: 1%;
  padding-left: 20px;
}