.error-page-message{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    color: #6700b2;
    background-image: url(../../assets/background.png);
}

.logo-error-page{
    width: 200px;
    margin-bottom: 100px;
}